<div id="accountModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Modal Name -->
        <div id="successfully-updated-alert" class="alert alert-success alert-dismissible hide" role="alert">
          Successfully updated!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>

        <ul class="nav nav-pills margin-bottom-1">
          <li role="presentation" class="active">
            <a data-toggle="pill" href="#pills-account">Manage Account</a>
          </li>
          <li>
            <a data-toggle="pill" href="#pills-settings">Settings</a>
          </li>
        </ul>

        <hr style="width: 88%;max-width: 100rem;">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="pills-account">
            <form class="form-horizontal" action="/manageAccount" method="post">
              <fieldset>


                <h5>Profile</h5>
                <div class="img bg-wrap text-center py-4" style="background: transparent;">
                  <div class="user-logo">
                    <div class="img profile-picture" style="background-image: url(/static/images/civ-unknown-user.png);"></div>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-4 control-label" for="profileImage">Profile Image:</label>
                  <div class="col-md-6" style="margin-top: 7px;">
                    <a href="https://en.gravatar.com/support/activating-your-account/" target="_blank">Update <i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-4 control-label" for="accountEmail">Email:</label>
                  <div class="col-md-6">
                    <input id="accountEmail" name="accountEmail" type="email" class="form-control input-md" readonly="readonly">
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-4 control-label" for="accountUsername">Username:<br><small>Max 20
                      characters</small></label>
                  <div class="col-md-6">
                    <input id="accountUsername" name="accountUsername" type="text" class="form-control input-md" maxlength="20" autocomplete="off" required>
                    <div id="updateUsernameBtns" class="margin-top-1" style="display: none">
                      <input type="hidden" name="userID" value="<%= user._id %>">
                      <input type="hidden" name="page" value="/civ-dashboard">
                      <button id="updateUsername" value="updateUsername" name="action" class="btn btn-info">Update
                        Username</button> <button type="button" class="btn btn-primary" onclick="cancelUsername()">Cancel</button>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-4 control-label" for="accountCallSign">Call Sign:<br><small>Max 10
                      characters</small></label>
                  <div class="col-md-6">
                    <input id="accountCallSign" name="accountCallSign" type="text" class="form-control input-md" maxlength="10" autocomplete="off" required>
                    <div id="updateCallSignBtns" class="margin-top-1" style="display: none">
                      <input type="hidden" name="page" value="/civ-dashboard">
                      <button id="updateCallSign" value="updateCallSign" name="action" class="btn btn-info">Update Call
                        Sign</button> <button type="button" class="btn btn-primary" onclick="cancelCallSign()">Cancel</button>
                    </div>
                  </div>
                </div>

                <hr style="width: 88%;max-width: 100rem;">

                <h5>
                  <ion-icon name="lock-closed-outline"></ion-icon> Password
                </h5>


                <div class="form-group text-align-center">
                  <div class="col-md-12">
                    <button id="updatePassword" type="button" class="btn btn-primary" onclick="document.location.href='forgot-password'">Update Password</button>
                  </div>
                </div>

                <hr style="width: 88%;max-width: 100rem;">

                <h5>
                  <ion-icon name="person-outline"></ion-icon> Discord
                </h5>


                <div class="form-group text-align-center">
                  <input id="link" type="text" name="discordToken" value="<%= user.user.discordLoginToken %>" style="display: none;">
                  <div class="col-md-12">
                    <img alt="discord" class="margin-bottom-2" style="width: 40px;" src="./static/images/discord-icon.svg">
                    </br>
                    <% if (user.user.discordConnected) { %>
                    <h5 class="margin-bottom-1"><i style="color: #57C567" class="fas fa-check"></i> Discord account connected</h5>
                    <button name="action" value="disconnectDiscord" class="btn btn-danger" type="submit">Disconnect your Discord account</button>
                    <% } else { %>
                    <h5 class="margin-bottom-1"><i style="color: #F8564E" class="fas fa-times"></i> Discord account not connected</h5>
                    <a class="btn btn-primary" href="https://discord.com/api/oauth2/authorize?client_id=1005557484271976569&redirect_uri=<%=redirect%>&response_type=code&scope=identify&state=<%=referer%>">
                      Connect your Discord account <i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                    <% } %>
                  </div>
                </div>

                <hr style="width: 88%;max-width: 100rem;">

                <h5>
                  <ion-icon name="log-out-outline"></ion-icon> Sign out
                </h5>


                <div class="form-group text-align-center">
                  <div class="col-md-12">
                    <button id="sign-out" type="button" class="btn btn-primary" onclick="document.location.href='logout'">Sign out</button>
                  </div>
                </div>

                <hr style="width: 88%;max-width: 100rem;">

                <h5 class="color-red">
                  <ion-icon name="trash-outline"></ion-icon> Close Account
                </h5>

                <h6><strong>Warning:</strong> Deleting your account is irreversible.</h6>

                <div class="form-group text-align-center">
                  <div class="col-md-12">
                    <button data-toggle="modal" type="button" href="#deleteAccountConfirmModal" class="btn btn-danger">Delete account</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="tab-pane fade" id="pills-settings">
            <form class="form-horizontal" action="/updateSettings" method="post">
              <fieldset>

                <h5>Panic Button</h5>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="enableSound">Enable Sound:</label>
                  <div class="col-md-1">
                    <input id="panic-button-check-sound" type="checkbox" name="enableSound" class="form-control" onclick="togglePanicBtnSound()">
                  </div>
                </div>

                <h5>Alert Volume <a data-toggle="modal" href="#alertVolumeHelpModal"><i class="fas fa-exclamation-circle"></i></a></h5>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="alertVolume">Adjust Sound Level:</label>
                  <div class="col-md-6">
                    <input type="range" class="form-range" id="alert-volume-slider" onclick="adjustAlertVolumeSlider()">
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="deleteAccountConfirmModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" action="/deleteAccount" method="post">
          <fieldset>

            <!-- Form Name -->
            <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
            <h4>Delete Account</h4>
            <hr style="width: 88%;max-width: 100rem;">

            <p>Warning: Once your account is deleted all created communities, civilians, vehicles, and citations
              from this account will be deleted. This is non-reversible.
            </p>
            <p>Are you sure you want to delete your account?</p>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="deleteAccount"></label>
              <div class="col-md-4 text-align-center">
                <input type="hidden" name="page" value="/civ-dashboard">
                <button id="deleteAccount" value="<%= user._id %>" name="userID" class="btn btn-danger">Delete
                  account</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="alertVolumeHelpModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title" style="font-size: 18px;">Alert Volume Help</span>
        <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
          aria-hidden="true">X</button>
      </div>
      <div class="modal-footer text-align-left">
        <p>If the volume does not seem to be updating, try refreshing your page or updating the value again.</p>
        <p> Also make sure that you have 'Enable Sound' checked
          or you will not hear any of the alerts. 👍
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function copyText(element) {
    $(element).select();
    document.execCommand("copy");
    $('#successCopyMessage').show();
  }
</script>