<!doctype html>
<html lang="en">

<head>
    <% include ad-header %>
    <meta charset="utf-8">
    <title>LPC - Communities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/animate.min.css" />
    <link rel="stylesheet" href="/static/css/ionicons.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
    <!-- To hide google translate header bar on each page -->
    <style type='text/css'> iframe.goog-te-banner-frame{ display: none !important;}</style>
    <style type='text/css'> body {position: static !important; top:0px !important;}</style>
</head>

<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img style="display: inline; margin-top: -9px; vertical-align: text-top;" src="/static/images/favicon-32x32.png"></img> Lines Police CAD</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/civ-dashboard">Civilian</a>
                    </li>
                    <li>
                        <a href="/police-dashboard">Police</a>
                    </li>
                    <li>
                        <a href="/ems-dashboard">Fire/EMS</a>
                    </li>
                    <li>
                        <a href="/dispatch-dashboard">Dispatch</a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#accountModal" onclick="fillAccountDetails()"><ion-icon class="nav-user-icon" name="person-circle-outline"></ion-icon></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="third" style='background-image: url("/static/images/monitors2.jpg"); min-height: 100%;'>
    <div class="col-md-offset-3 col-md-7">
        <div class="inner">
            <br/>
            <br/>
            <br/>
            <br/>
            <div id="successCopyMessage" class="alert alert-success alert-dismissible" role="alert" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> Copied to your clipboard
              </div>
            <h2 class="text-center">Communities</h2>
            <hr>
            <ul class="nav nav-pills mb-3 margin-bottom-1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="/community-dashboard">Community Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" id="pills-owned-communities-tab" data-toggle="pill" href="#pills-owned-communities" role="tab" aria-controls="pills-owned-communities" aria-selected="true">Owned Communities</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade active in" id="pills-owned-community" role="tabpanel" aria-labelledby="pills-owned-community-tab">
                    <form id="actionForm" class="row" action="/communities" method="post">
                        <fieldset>
                    <h4>Owned Communities:</h4>
                    <table id="example" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Manage</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                <input id="link" type="text" value="" style="opacity: 0;">
                            <% if (communities != undefined && communities != null) {%>
                            <% for(var i=0; i<communities.length; i++) {%>
                                    <tr>
                                        <td style="text-transform: capitalize;"><%=communities[i].community.name%></td>
                                        <td><%=communities[i].community.code%><span class="iconify" data-icon="ant-design:copy-outlined" data-inline="false" style="color:#337ab7;cursor:pointer" data-width="15" data-height="15" onclick="copyText('#link', '<%=communities[i].community.code%>')"></span></td>
                                        <td class="text-align-center"><button type="submit" name="communityID" value="<%= communities[i]._id %>" class="btn btn-md btn-primary hide-button-outline"><span class="iconify" data-icon="jam:write" style="color:#337ab7;" data-inline="false" data-width="25" data-height="25"></span></button>
                                        <td class="text-align-center"><a class="btn btn-md btn-danger" data-toggle="modal" href="#deleteCommunityModal" onclick="populateCommunityID('<%=communities[i]._id%>')">Delete</a></td>
                                    </tr>
                            <%}%>
                            <%}%>
                        </tbody>
                    </table>
                    </fieldset>
                    </form>
                </div>
                </div>
              </div>
        </div>
        <div>
            
        </div>
    </header>
    <!-- Modify Community Name Modal -->
    <div id="deleteCommunityModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form class="form-horizontal" action="/delete-community" method="post">
                <fieldset>
    
                <!-- Form Name -->
                <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
                <h4>Delete Community</h4>
                <hr style="width: 88%;max-width: 100rem;">
                <p>Warning: This will remove all members and then delete the community.
                    This is non-reversible.
                </p>
                <p>Are you sure you want to delete this community?</p>
                <!-- Button-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="deleteAccount"></label>
                    <div class="col-md-4 text-align-center">
                    <input id="communityID" type="hidden" name="communityID" value="">
                    <button type="submit" class="btn btn-md btn-danger">Delete</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="google-ad"></div>
    </div>
    <% include account-management %>
    <% include footer %>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Coming Soon!</h2>
                    <p class="text-center">This is still being developed. Please check back later ;)</p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK
                        <i class="ion-android-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>
<script type="text/javascript">
$(document).ready(function () {
    $('#example').DataTable();

    // displays the Update Username and Cancel buttons for updating the username
    var myUser = <%- JSON.stringify(user) %>;
    $('#accountUsername').on('keyup', function(e) {
    if(e.target.value != myUser.user.username && e.target.value != '') {
        $('#updateUsernameBtns').show();
    } else {
        $('#updateUsernameBtns').hide();
    }
    })

    $('#accountCallSign').on('keyup', function(e) {
        if(e.target.value != myUser.user.callSign && e.target.value != '') {
            $('#updateCallSignBtns').show();
        } else {
            $('#updateCallSignBtns').hide();
        }
    })

    $('#panic-button-check-sound').prop("checked", myUser.user.panicButtonSound)
    $('#alert-volume-slider').val(myUser.user.alertVolumeLevel || 10)
});

function copyText(element, code) {
    $('#link').val(code)
    $(element).select();
    document.execCommand("copy");
    $('#successCopyMessage').show();
}

function populateCommunityID(communityID) {
    $('#communityID').val(communityID)
}

function fillAccountDetails() {
    var myUser = <%- JSON.stringify(user) %>;
    $('#accountEmail').val(myUser.user.email)
    $('#accountUsername').val(myUser.user.username)
    $('#accountCallSign').val(myUser.user.callSign)
  }
  
  function cancelUsername() {
    var myUser = <%- JSON.stringify(user) %>;
    $('#accountUsername').val(myUser.user.username)
    $('#updateUsernameBtns').hide();
  }

  function cancelCallSign() {
    var myUser = <%- JSON.stringify(user) %>;
    $('#accountCallSign').val(myUser.user.callSign)
    $('#updateCallSignBtns').hide();
  }

  function togglePanicBtnSound() {
    var socket = io();
    socket.emit('update_panic_btn_sound', <%- JSON.stringify(user) %>)
    socket.on('load_panic_btn_result', (res) => {
      $('#panic-button-check-sound').prop("checked", !res.user.panicButtonSound)
      $('#successfully-updated-alert').removeClass('hide').addClass('show').delay(2000).fadeOut(1000, function () {
        $(this).addClass('hide').removeClass('show');
  });
    })
  }

  function adjustAlertVolumeSlider() {
    var socket=io();
    var volumeAmount = $('#alert-volume-slider').val()
    var myObj = {
      dbUser: dbUser,
      volume: volumeAmount
    }
    socket.emit('update_alert_volume_slider', myObj)
    socket.on('load_alert_volume_result', (res) => {
      $('#successfully-updated-alert').removeClass('hide').addClass('show').delay(2000).fadeOut(1000, function () {
        $(this).addClass('hide').removeClass('show');
      });
    })
  }
</script>

<!--  added for google translate --> 
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->