<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LPC - Communities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/animate.min.css" />
    <link rel="stylesheet" href="/static/css/ionicons.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
    <!-- To hide google translate header bar on each page -->
    <style type='text/css'> iframe.goog-te-banner-frame{ display: none !important;}</style>
    <style type='text/css'> body {position: static !important; top:0px !important;}</style>
    <% include ad-header %>
</head>

<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                  <img style="display: inline; margin-top: -9px; vertical-align: text-top;" src="/static/images/favicon-32x32.png"></img> Lines Police CAD</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/civ-dashboard">Civilian</a>
                    </li>
                    <li>
                        <a href="/police-dashboard">Police</a>
                    </li>
                    <li>
                        <a href="/ems-dashboard">Fire/EMS</a>
                    </li>
                    <li>
                        <a href="/dispatch-dashboard">Dispatch</a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#accountModal" onclick="fillAccountDetails()"><ion-icon class="nav-user-icon" name="person-circle-outline"></ion-icon></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="third" style='background-image: url("/static/images/monitors2.jpg"); min-height: 100%;'>
        <div class="inner">
            <br/>
            <br/>
            <br/>
            <br/>
            <!-- imports the community specific alerts -->
            
            <div class="col-md-offset-3 col-md-7">
              <div id="successCopyMessage" class="alert alert-success alert-dismissible" role="alert" style="display:none">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Success!</strong> Copied to your clipboard
                </div>
                <% include community-alerts %>
                <h2 class="text-center">Community Dashboard</h2>
            <!-- <fieldset> -->
              <!-- Form Name -->
              
              <hr style="width: 88%;max-width: 100rem;">
              <ul class="nav nav-pills mb-3 margin-bottom-1" id="pills-tab" role="tablist">
                <li class="nav-item active">
                  <a class="nav-link active" href="/community-dashboard">Community Dashboard</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/owned-communities">Owned Communities</a>
                </li>
              </ul>
              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="joinCommunity"></label>
                <div class="col-md-4 text-align-center">
                  <button data-toggle="modal" href="#joinCommunityModal" class="btn btn-primary">Join</button>
                  <button data-toggle="modal" href="#createCommunityModal" class="btn btn-primary">Create</button>
                </div>
              </div>
              <div class="col-md-8 col-md-offset-2 name-table text-align-center margin-top-2">
                <table class="table table-hover" border="1" frame="box">
                  <thead>
                    <tr>
                      Active Community
                    </tr>
                    <tr style="background-color: #2d2d2d;"><td>Name</td><td>Code</td><td>Action</td></tr>
                  </thead>
                    <tbody>
                      <% if(communities != undefined && communities != null) {%>
                        <% for(var i=0; i<communities.length; i++) {%>
                          <p><% user.user.activeCommunity %></p>
                          <p><% i._id %></p>
                          <% if (user.user.activeCommunity == communities[i]._id) {%>
                            <tr class="no-hover">
                            <td style="text-transform: capitalize;"><%= communities[i].community.name%></td>
                            <td> <%= communities[i].community.code%></td>
                            <td><button data-toggle="modal" href="#leaveActiveCommunityModal" class="btn btn-danger">Leave</button></td>
                            </tr>
                          <% } %>
                        <% } %>
                      <% } %>
                    </tbody>
                </table>
              </div>
          <!-- </fieldset>  -->
          <form id="actionForm" class="row" action="/communities" method="post">
            <!-- <fieldset> -->
              <!-- list of current communities -->
              <div class="col-md-8 col-md-offset-2 name-table text-align-center margin-top-2">
                <table class="table table-hover" border="1" frame="box">
                  <thead>
                    <tr>
                      Communities Owned by You
                    </tr>
                    <tr style="background-color: #2d2d2d;"><td>Name</td><td>Code</td><td>Manage</td></tr>
              
                  </thead>
                    <tbody>
                      <% if(communities != undefined && communities != null) {%>
                        <% for(var i=0; i<communities.length; i++) {%>
                          <% if (user._id == communities[i].community.ownerID) {%>
                            <tr class="gray-hover no-hover" data-toggle="modal" data-id=<%=i%>">
                            <td style="text-transform: capitalize;"><%= communities[i].community.name%></td>
                            <td> <%= communities[i].community.code%></td>
                            <td><button type="submit" name="communityID" value="<%= communities[i]._id %>" class="btn btn-md btn-primary hide-button-outline"><span class="iconify" style="color: #337ab7" data-icon="ion:arrow-forward-circle-outline" data-inline="false" data-width="25" data-height="25"></span></button></td>
                            </tr>
                          <% } %>
                        <% } %>
                      <% } %>
                    </tbody>
                </table>
              </div>
              <!-- </fieldset> -->
          </form>
      <div class="google-ad"></div>
    </div>
    </div>
    </header>
    <% include account-management %>
    <% include footer %>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Coming Soon!</h2>
                    <p class="text-center">This is still being developed. Please check back later ;)</p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK
                        <i class="ion-android-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="joinCommunityModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form class="form-horizontal" action="/joinCommunity" method="post">
              <fieldset>
  
              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
              <h4>Join an Existing Community</h4>
              <hr style="width: 88%;max-width: 100rem;">
  
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="communityCode">Community Code:</label>
                <div class="col-md-4">
                <input id="communityCode" name="communityCode" style="text-transform: uppercase;" type="text" placeholder="Example: YRFGHHP" class="form-control input-md" minlength="7" maxlength="7" required>
                </div>
              </div>
  
              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="joinCommunity"></label>
                <div class="col-md-4 text-align-center">
                  <button id="joinCommunity" value="<%= user._id %>" name="userID"  class="btn btn-primary">Join</button>
                </div>
              </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <div id="leaveActiveCommunityModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form class="form-horizontal" action="/leaveActiveCommunity" method="post">
              <fieldset>
  
              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
              <h4>Leave Active Community</h4>
              <hr style="width: 88%;max-width: 100rem;">
  
              <p>NOTE: All civilians and vehicles that you created in this community will no longer 
                show up on your dashboard after you leave.
              </p>
              <p>Are you sure you want to leave this community?</p>
  
              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="leaveActiveCommunity"></label>
                <div class="col-md-4 text-align-center">
                  <button id="leaveActiveCommunity" value="<%= user._id %>" name="userID"  class="btn btn-danger">Leave</button>
                </div>
              </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <div id="createCommunityModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form class="form-horizontal" action="/createCommunity" method="post">
              <fieldset>
  
              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
              <h4>Create a New Community</h4>
              <hr style="width: 88%;max-width: 100rem;">
  
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="communityName">Community Name:</label>
                <div class="col-md-4">
                <input id="communityName" name="communityName" style="text-transform: capitalize;" type="text" placeholder="Community Name" class="form-control input-md" maxlength="25" required>
                </div>
              </div>
  
              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="createCommunity"></label>
                <div class="col-md-4 text-align-center">
                  <button id="createCommunity" value="<%= user._id %>" name="userID" class="btn btn-primary">Create</button>
                </div>
              </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <div id="communitiesInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
              <fieldset>
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
              <h4>Check out the New Communities Section!</h4>
              <hr style="width: 88%;max-width: 100rem;">
              <a data-toggle="modal" href="#communitiesModal" onclick="dismissCommunitiesInfoModal()"><img src="/images/communities-example.png" class="diagonal-arrow float-right" alt="communities example screenshot"></a>
              <img src="/static/images/diagonal-arrow-white.png" class="diagonal-arrow" alt="diagonal arrow pointing to top right of page">
              </fieldset>
          </div>
        </div>
      </div>
    </div>
    <!--scripts loaded here -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>
<script type="text/javascript">
  // all global router vars declared here to reduce duplication
  var dbCommunities = <%- JSON.stringify(communities) %>;
  var dbUser = <%- JSON.stringify(user) %>;

$(document).ready(function () {
    $('#example').DataTable();

    // displays the Update and Cancel buttons for updating the community name
    $('#communityName').on('keyup', function(e) {
      if(e.target.value != dbCommunities.community.name && e.target.value != '') {
        $('#updateCommunityNameBtns').show();
      } else {
        $('#updateCommunityNameBtns').hide();
      }
    })

    // displays the Update Username and Cancel buttons for updating the username
    $('#accountUsername').on('keyup', function(e) {
    if(e.target.value != dbUser.user.username && e.target.value != '') {
        $('#updateUsernameBtns').show();
    } else {
        $('#updateUsernameBtns').hide();
    }
    })

    $('#accountCallSign').on('keyup', function(e) {
        if(e.target.value != dbUser.user.callSign && e.target.value != '') {
            $('#updateCallSignBtns').show();
        } else {
            $('#updateCallSignBtns').hide();
        }
    })

    $('#panic-button-check-sound').prop("checked", dbUser.user.panicButtonSound)
    $('#alert-volume-slider').val(dbUser.user.alertVolumeLevel || 10)
});

function copyText(element) {
    $(element).select();
    document.execCommand("copy");
    $('#successCopyMessage').show();
}

function cancelCommunityName() {
    $('#communityName').val(dbCommunities.community.name)
    $('#updateCommunityNameBtns').hide();
  }

  function fillAccountDetails() {
    $('#accountEmail').val(dbUser.user.email)
    $('#accountUsername').val(dbUser.user.username)
    $('#accountCallSign').val(dbUser.user.callSign)
  }
  
  function cancelUsername() {
    $('#accountUsername').val(dbUser.user.username)
    $('#updateUsernameBtns').hide();
  }

  function cancelCallSign() {
    $('#accountCallSign').val(dbUser.user.callSign)
    $('#updateCallSignBtns').hide();
  }

  function togglePanicBtnSound() {
    var socket = io();
    socket.emit('update_panic_btn_sound', dbUser)
    socket.on('load_panic_btn_result', (res) => {
      $('#panic-button-check-sound').prop("checked", !res.user.panicButtonSound)
      $('#successfully-updated-alert').removeClass('hide').addClass('show').delay(2000).fadeOut(1000, function () {
        $(this).addClass('hide').removeClass('show');
  });
    })
  }

  function adjustAlertVolumeSlider() {
    var socket=io();
    var volumeAmount = $('#alert-volume-slider').val()
    var myObj = {
      dbUser: dbUser,
      volume: volumeAmount
    }
    socket.emit('update_alert_volume_slider', myObj)
    socket.on('load_alert_volume_result', (res) => {
      $('#successfully-updated-alert').removeClass('hide').addClass('show').delay(2000).fadeOut(1000, function () {
        $(this).addClass('hide').removeClass('show');
      });
    })
  }
</script>

<!--  added for google translate --> 
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->