<fieldset>
    <!-- Form Name -->
    <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
    <h4>Community Management</h4>
    <hr style="width: 88%;max-width: 100rem;">

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="joinCommunity"></label>
      <div class="col-md-4 text-align-center">
        <button data-toggle="modal" href="#joinCommunityModal" class="btn btn-primary">Join</button>
        <button data-toggle="modal" href="#createCommunityModal" class="btn btn-primary">Create</button>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 name-table text-align-center margin-top-2">
      <table class="table table-hover" border="1" frame="box">
        <thead>
          <tr>
            Active Community
          </tr>
          <tr style="background-color: #2d2d2d;"><td>Name</td><td>Code</td><td>Action</td></tr>
        </thead>
          <tbody>
            <% if(communities != undefined && communities != null) {%>
              <% for(var i=0; i<communities.length; i++) {%>
                <p><% user.user.activeCommunity %></p>
                <p><% i._id %></p>
                <% if (user.user.activeCommunity == communities[i]._id) {%>
                  <tr class="no-hover">
                  <td style="text-transform: capitalize;"><%= communities[i].community.name%></td>
                  <td> <%= communities[i].community.code%></td>
                  <td><button data-toggle="modal" href="#leaveActiveCommunityModal" class="btn btn-danger">Leave</button></td>
                  </tr>
                <% } %>
              <% } %>
            <% } %>
          </tbody>
      </table>
    </div>
</fieldset> 
<form id="actionForm" class="row" action="/communities" method="post">
  <fieldset>
    <!-- list of current communities -->
    <div class="col-md-8 col-md-offset-2 name-table text-align-center margin-top-2">
      <table class="table table-hover" border="1" frame="box">
        <thead>
          <tr>
            Communities Owned by You
          </tr>
          <tr style="background-color: #2d2d2d;"><td>Name</td><td>Code</td><td>Manage</td></tr>
    
        </thead>
          <tbody>
            <% if(communities != undefined && communities != null) {%>
              <% for(var i=0; i<communities.length; i++) {%>
                <% if (user._id == communities[i].community.ownerID) {%>
                  <tr class="gray-hover no-hover" data-toggle="modal" data-id=<%=i%>">
                  <td style="text-transform: capitalize;"><%= communities[i].community.name%></td>
                  <td> <%= communities[i].community.code%></td>
                  <td><button type="submit" name="communityID" value="<%= communities[i]._id %>" class="btn btn-md btn-primary hide-button-outline"><span class="iconify" style="color: #337ab7" data-icon="ion:arrow-forward-circle-outline" data-inline="false" data-width="25" data-height="25"></span></button></td>
                  </tr>
               <% } %>
              <% } %>
            <% } %>
          </tbody>
      </table>
    </div>
    </fieldset>
</form>