<!DOCTYPE html>
<html>

<head>
  <title>LPC - Fire/EMS Dashboard</title>
  <meta charset="utf-8">
  <meta name="description"
    content="Lines Roleplay Police CAD. Built to facilitate the needs of roleplay police and civilians." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="Codeply">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/e048807041.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/animate.min.css" />
  <link rel="stylesheet" href="/static/css/ionicons.min.css" />
  <link rel="stylesheet" href="/static/css/tail.select-dark.min.css" />
  <link rel="stylesheet" href="/static/css/awesomplete.css" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico">
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
  <!-- To hide google translate header bar on each page -->
  <style type='text/css'> iframe.goog-te-banner-frame{ display: none !important;}</style>
  <style type='text/css'> body {position: static !important; top:0px !important;}</style>
  <% include ad-header %>
</head>
<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" style="z-index: 9;">
      <div class="img bg-wrap text-center py-4" style="background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(/static/images/fire-ems-corner-bg.jpg);">
        <div class="user-logo">
          <a data-toggle="modal" href="#accountModal" onclick="fillAccountDetails()">
            <div class="img profile-picture"></div>
          </a>
          <h3>
            <%=user.user.username%>
          </h3>
          <h5>
            <%=user.user.callSign%>
          </h5>
          <h5>Logged in as: Fire/EMS</h5>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="/"><span class="fa fa-home mr-3"></span> <img style="display: inline; margin-top: -9px; vertical-align: text-top;" src="/static/images/favicon-32x32.png"></img> Lines Police CAD</a>
        </li>
        <li class="background-color-222">
          <a type="button" data-toggle="collapse" data-target="#toggleSearch" aria-expanded="true"
            aria-controls="toggleSearch" onclick="toggleCaret()"> Search <i class="fas fa-caret-right pull-right rotate"
              style="margin-top: 0.3em;"></i></a>
        </li>
        <div class="collapse in" id="toggleSearch">
          <li>
            <a data-toggle="modal" href="#searchMedicalRecords"><span class="fa fa-database ml-3 mr-3"></span> Medical
              Database</a>
          </li>
          <li>
            <a data-toggle="modal" href="#newCivModal"><span class="fa fa-id-card ml-3 mr-3"></span> Add New Persona</a>
          </li>
          <li>
            <a data-toggle="modal" href="#newVehicleModal"><span class="fa fa-car ml-3 mr-3"></span> Add New Vehicle</a>
          </li>
        </div>
        <li class="background-color-222">
          <a type="button" data-toggle="collapse" data-target="#toggleUtilities" aria-expanded="false"
            aria-controls="toggleUtilities" onclick="toggleCaret()"> Utilities <i
              class="fas fa-caret-right pull-right rotate" style="margin-top: 0.3em;"></i></a>
        </li>
        <div class="collapse in" id="toggleUtilities">
          <li>
            <a data-toggle="modal" href="#10codesModal"><span class="fas fa-list-alt ml-3 mr-3"></span> 10-Codes</a>
          </li>
          <li>
          <li>
            <a data-toggle="modal" href="#notepadModal"><span class="fas fa-clipboard ml-3 mr-3"></span> Notepad</a>
          </li>
          <li>
            <a href="/map-interactive"><span class="fa fa-map ml-3 mr-3"></span> Map <i
                class="fas fa-external-link-alt"></i></a>
          </li>
        </div>
        <li>
          <a data-toggle="modal" href="/community-dashboard"><span class="fa fa-users mr-3"></span> Communities <i
            class="fas fa-external-link-alt"></i></a>
        </li>
        <li>
          <a data-toggle="modal" href="#notificationModal" onclick="markAsRead()"><span id="notification-symbol" class="fa fa-bell mr-3 notif"><small
                class="d-flex align-items-center justify-content-center" id="notification-count"></small></span> Notifications</a>
        </li>
        <li>
          <a data-toggle="modal" href="#accountModal" onclick="fillAccountDetails()"><span
              class="fa fa-cog mr-3"></span> Settings</a>
        </li>
        <li>
          <a href="/contact-us"><span class="fa fa-support mr-3"></span> Support <i
              class="fas fa-external-link-alt"></i></a>
        </li>
        <li>
          <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li>
      </ul>

    </nav>

    <div id="content" class="">
      <nav id="topNav" class="topNav" style="z-index: 8; margin-bottom: 0; position: fixed;">
        <div class="container-fluid" style="height: 70px;">
          <div class="custom-menu" style="position: absolute; top: 10px;">
            <button type="button" id="sidebarCollapse" class="btn btn-primary btn-lg"
              style="z-index: 9;color: white;background: transparent;border-radius: unset;padding-right: 2em; border: transparent;">
              <i class="fa fa-bars" aria-hidden="true" style="z-index: 9; font-size: 1.5em;"></i>
            </button>
          </div>
          <div class="navbar-header" style="position: absolute; left: 85px;">
            <h1 class="cursive"><a href="/ems-dashboard"><i class="fas fa-star"></i> Fire/EMS Operations</a></h1>
          </div>
        </div>
      </nav>

      <header id="second" style='background-image: url("/static/images/ems-bkground.jpg");'>
        <div class="header-content">
          <div class="inner">
            <h1 class="cursive"><a href="/ems-dashboard">San Andreas - Fire/EMS Operations</a></h1>

            <!-- imports the community specific alerts -->
            <% include community-alerts %>

            <div class="col-lg-10 col-lg-offset-1 text-center">
              <button data-toggle="modal" href="#searchMedicalRecords" class="btn btn-primary btn-lg margin-top-2">Medical
                Database</button>
              <button data-toggle="modal" href="#newCivModal" class="btn btn-primary btn-lg margin-top-2">Add New
                Persona</button>
              <button data-toggle="modal" href="#newVehicleModal" class="btn btn-primary btn-lg margin-top-2">Add New
                Vehicle</button>
            </div>
          </div>
        </div>
      </header>
      <section style='background-image: url("/static/images/blue-clouds.jpg");'>
        <div class="container">

          <!--Table for Personas  -->
          <div class="col-md-12 col-md-offset-0.75">
            <div class="margin-bottom-1">
              <span id="active-bolos margin-right-1" style="font-size: 18px;">Personnel:</span> <button data-toggle="modal"
                href="#newCivModal" class="btn btn-primary btn-md pull-right margin-bottom-1">Add New Persona</button>
            </div>
            <div id="issue-loading-personnel-alert" style="display:none">
              <p class="text-center" style="font-style: italic; font-size: 14px">⚠️ Issue loading personnel, try refreshing the page...</p>
            </div>
            <div id="persona-table-div">
              <table id="persona-table" class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>Persona Name</th>
                    <th>Department</th>
                  </tr>
                </thead>
                <tbody id="persona-body">
                  <!-- populated by socket -->
                  <div id="persona-loading" class="text-align-center">
                    <div class="lds-facebook"><div></div><div></div><div></div></div>
                  </div>
                </tbody>
              </table>
            </div>
          </div>

          <!--Table for Vehicles  -->
          <div class="col-md-12 col-md-offset-0.75 margin-top-2">
            <div class="margin-bottom-1">
              <span id="active-bolos" class="margin-right-1" style="font-size: 18px;">Vehicles:</span> <button
                data-toggle="modal" href="#newVehicleModal" class="btn btn-primary btn-md pull-right margin-bottom-1">Add
                New Vehicle</button>
            </div>
            <table id="vehicle-table" class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Plate</th>
                  <th>Model</th>
                  <th>Engine #</th>
                  <% if (user.user.activeCommunity !='' && user.user.activeCommunity !=null) {%>
                    <th>Status</th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <% if(vehicles != undefined && vehicles != null) {%>
                  <% for(var i=0; i<vehicles.length; i++) {%>
                  <tr class="gray-hover" data-toggle="modal" data-id=<%=i%> data-target="#viewVeh"
                    onclick="loadVehData(<%=i%>)">
                    <td><%= vehicles[i].emsVehicle.plate%></td>
                    <td> <%= vehicles[i].emsVehicle.model%></td>
                    <td> <%= vehicles[i].emsVehicle.engineNumber%></td>
                    <% if (user.user.activeCommunity !='' && user.user.activeCommunity !=null) {%>
                      <td> <%= vehicles[i].emsVehicle.dispatchStatus%></td>
                    <% } %>
                  </tr>
                  <% } %>
                <% } else {%>
                  <p class="text-center" style="font-style: italic; font-size: 14px">⚠️ Issue loading vehicles, try refreshing the page...</p>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <% if (user.user.activeCommunity !='' && user.user.activeCommunity !=null) {%>
        <div class="container">
          <div id="assigned-call-container" class="col-lg-10 col-lg-offset-1 margin-top-2">
            <!-- active calls -->
            <h4>Assigned Calls: </h4>
            <h5>Click for details</h5>
            <% if (calls !=null && calls != undefined) { %>
              <% for(var i=0; i<calls.length; i++) { %>
                <% if (calls[i].call.status==true) { %>
                  <% if (calls[i].call.assignedFireEms !=null && calls[i].call.assignedFireEms !='' ) { %>
                    <% if(vehicles != undefined && vehicles != null) {%>
                      <% for (let j=0; j < vehicles.length; j++) { %>
                        <% if (calls[i].call.assignedFireEms.includes(vehicles[j]._id)) { %>
                          <a id="<%=calls[i]._id%>" data-toggle="modal" href="#callDetailModal"
                            onclick="populateCallDetails('<%=calls[i]._id%>')">
                            <div class="alert alert-success alert-dismissible show" role="alert">
                              Opened: <span id="<%=calls[i]._id%>-createdAt" style="text-transform:capitalize"><time>
                                  <%=calls[i].call.createdAtReadable%>
                                </time> | Description:
                                <span id="<%=calls[i]._id%>-description">
                                  <%=calls[i].call.shortDescription%>
                                </span>%></span>
                            </div>
                          </a>
                          <% break %>
                        <% } %>
                      <% } %>
                    <% } %>
                  <% } %>
                <% } %>
              <% } %>
            <% } else {%>
              <p class="text-center" style="font-style: italic; font-size: 14px">⚠️ Issue loading calls, try refreshing the page...</p>
              <% } %>

          </div>
        </div>
        <% } %>
      </section>
      <div class="google-ad"></div>
      <% include footer %>
</div>
  </div>
  <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="galleryImage" class="img-responsive" />
          <p>
            <br />
            <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i
                class="ion-android-close"></i></button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="callDetailModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form id="update-call-form" class="form-horizontal" action="/" method="get">
            <fieldset>

              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Call Details</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="createdBy">Created At:</label>
                <div class="col-md-4">
                  <h5 id="createdAtCallDetail"></h5>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="createdBy">Updated At:</label>
                <div class="col-md-4">
                  <h5 id="updatedAtCallDetail"></h5>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="createdBy">Classifier:</label>
                <div class="col-md-4">
                  <h4 id="classifier"></h4>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="createdBy">Engines:</label>
                <div class="col-md-8 margin-left-neg-2">
                  <h5 id="engines"></h5>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description:</label>
                <div class="col-md-4">
                  <h5 id="descriptionCallDetail" style="text-transform:capitalize"></h5>
                </div>
              </div>

              <!-- Text Area input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="callNotes">Call Notes:</label>
                <div class="col-md-8 col-md-offset-2">
                  <textarea id="callNotesDetail" name="callNotes" type="text" rows="4" maxlength="500"
                    placeholder="call notes" class="form-control input-md" disabled></textarea>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="newCivModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" action="/create-ems" method="post">
            <fieldset>

              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Add a New Persona</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="first-name">First Name</label>
                <div class="col-md-4">
                  <input id="first-name" name="emsFirstName" type="text" placeholder="first name"
                    class="form-control input-md" data-trigger="first-name-popover"
                    data-content="* First name cannot contain spaces." required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="last-name">Last Name</label>
                <div class="col-md-4">
                  <input id="last-name" name="emsLastName" type="text" placeholder="last name"
                    class="form-control input-md" data-trigger="last-name-popover"
                    data-content="* Last name cannot contain spaces." required="">
                </div>
              </div>

              <!-- Select Basic -->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="department">Department</label>
                <div class="col-md-4">
                  <select id="department" name="department" class="form-control">
                    <option value="Fire">Fire</option>
                    <option value="EMS">EMS</option>
                  </select>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="assignment-area">Assignment Area</label>
                <div class="col-md-4">
                  <input id="assignment-area" name="assignmentArea" type="text" placeholder="assignment area"
                    maxlength="50" class="form-control input-md" required>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="station">Station</label>
                <div class="col-md-4">
                  <input id="station" name="station" type="number" placeholder="station # (optional)" maxlength="5"
                    class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="call-sign">Call Sign</label>
                <div class="col-md-4">
                  <input id="call-sign" name="callSign" type="text" placeholder="call sign (optional)" maxlength="10"
                    class="form-control input-md">
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="submit-new-ems"></label>
                <div class="col-md-4">
                  <input type="hidden" name="userID" value="<%= user._id %>">
                  <input type="hidden" id="activeCommunityID" name="activeCommunityID" ,
                    value="<%=user.user.activeCommunity%>">
                  <button id="submit-new-ems" class="btn btn-primary" onclick="createNewEms()">Create</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="newVehicleModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" action="/create-ems-vehicle" method="post">
            <fieldset>

              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Add a New Vehicle</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="plate">Plate</label>
                <div class="col-md-4">
                  <input id="plate" name="plate" type="text" maxlength="8" placeholder="plate"
                    class="form-control input-md" required="">

                </div>
              </div>

              <!-- Select input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="model">Model</label>
                <div class="col-md-4">
                  <select class="form-control" name="model" id="model" required="">
                    <option value="FireTruck">FireTruck</option>
                    <option value="Fire Dept. Vehicle">Fire Dept. Vehicle</option>
                    <option value="Fire Dept. Chief Vehicle">Fire Dept. Chief Vehicle</option>
                    <option value="Ambulance">Ambulance</option>
                    <option value="Medical Dept. Vehicle">Medical Dept. Vehicle</option>
                    <option value="Medical Dept. Chief Vehicle">Medical Dept. Chief Vehicle</option>
                    <option value="LifeGuard Patrol Vehicle">LifeGuard Patrol Vehicle</option>
                    <option value="LifeGuard Boat">LifeGuard Boat</option>
                  </select>
                </div>
              </div>

              <!-- Text input -->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="engineNumber">Engine #</label>
                <div class="col-md-4">
                  <input id="engineNumber" name="engineNumber" type="text" maxlength="10" placeholder="engine #"
                    class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="color">Color</label>
                <div class="col-md-4">
                  <input id="color" name="color" type="text" placeholder="color (optional)"
                    class="form-control input-md">
                </div>
              </div>

              <!-- Search input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="registeredOwner">Registered Owner</label>
                <div class="col-md-4">
                  <select id="registeredOwner" name="registeredOwner" class="form-control">
                    <option value="N/A">N/A</option>
                    <!-- populated by socket -->
                  </select>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="create-vehicle"></label>
                <div class="col-md-4">
                  <input type="hidden" name="userID" value="<%= user._id %>">
                  <input type="hidden" id="activeCommunityID" name="activeCommunityID" ,
                    value="<%=user.user.activeCommunity%>">
                  <button id="create-vehicle" class="btn btn-primary">Create</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="searchMedicalRecords" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div id="personNotFound" class="alert alert-warning" style="display:none">
        <strong>Not Found!</strong> Person not found in medical database.
      </div>
      <div id="firstNameRequired" class="alert alert-warning" style="display:none">
        <strong>First Name is Required!</strong>
      </div>
      <div id="lastNameRequired" class="alert alert-warning" style="display:none">
        <strong>Last Name is Required!</strong>
      </div>
      <div id="dateOfBirthRequired" class="alert alert-warning" style="display:none">
        <strong>Date of Birth is Required!</strong>
      </div>
      <div class="modal-content">
        <div class="modal-body">
          <!-- <form class="form-horizontal" name="findFirearm" action="/medical-search" method="get"> -->
          <fieldset>
            <div class="">
              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Medical Database</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <!-- Text input-->
              <div id="medical-input-area" class="form-group">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <label class="col-md-12 col-md-offset-1 padding-left-0" for="civ-first-name">First Name</label>
                    <input id="civ-first-name" name="firstName" type="text" placeholder="First Name"
                      class="form-control input-md col-md-offset-1" data-trigger="first-name-popover"
                      data-content="* First name cannot contain spaces." required>
                  </div>
                  <div class="col-md-4">
                    <label class="col-md-12 col-md-offset-1 padding-left-0" for="civ-last-name">Last Name</label>
                    <input id="civ-last-name" name="lastName" type="text" placeholder="Last Name"
                      class="form-control input-md col-md-offset-1" data-trigger="last-name-popover"
                      data-content="* Last name cannot contain spaces." required>
                  </div>
                  <% if (user.user.activeCommunity == '' || user.user.activeCommunity == null) { %>
                  <div class="col-md-4">
                    <label class="col-md-12 col-md-offset-1 padding-left-0" for="civ-dob">Date of Birth</label>
                    <input id="civ-dob" name="dateOfBirth" type="date" placeholder="mm/dd/yyyy"
                      class="form-control input-md col-md-offset-1" required="">
                  </div>
                  <% } %>
                  <div class="col-md-4">
                    <br>
                    <input type="hidden" id="activeCommunityID" name="activeCommunityID" ,
                      value="<%=user.user.activeCommunity%>">
                    <button type="submit" class="btn btn-info" onclick="searchMedicalNames()">Search</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- List of Plates -->
            <div id="medicalDetails" class="col-md-12 margin-top-2">
              <div class="panel-group" id="accordion">
                <div></div>
              </div>
            </div>
        </div>
        </fieldset>
        <!-- </form> -->
      </div>
    </div>
  </div>
  </div>

  <div id="viewEms" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form action="/deleteEms" method="POST">
            <fieldset>
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Details about your Persona</h4>
              <hr style="width: 88%;max-width: 100rem;">
              <div id="issue-loading-persona-details-alert" style="display:none">
                <p class="text-center" style="font-style: italic; font-size: 14px">⚠️ Issue loading persona details, try refreshing the page...</p>
              </div>
              <div id="persona-details-loading" class="text-align-center">
                <div class="lds-facebook"><div></div><div></div><div></div></div>
              </div>
              <div id="persona-details-div" style="display:none">
                <div class="col-md-9">
                  <label class="col-md-4 control-label margin-bottom-1" for="first-name">First Name:</label>
                  <label id="firstNameView" class="col-md-5"></label>
                </div>

                <div class="col-md-9">
                  <label class="col-md-4 control-label margin-bottom-1" for="last-name">Last Name:</label>
                  <label id="lastNameView" class="col-md-5"></label>
                </div>

                <div class="col-md-9">
                  <label class="col-md-4 control-label margin-bottom-1" for="department">Department:</label>
                  <label id="departmentView" class="col-md-5"></label>
                </div>

                <div class="col-md-9">
                  <label class="col-md-4 control-label margin-bottom-1" for="assignment-area">Assignment Area:</label>
                  <label id="assignmentAreaView" class="col-md-5"></label>
                </div>

                <div class="col-md-9">
                  <label class="col-md-4 control-label margin-bottom-1" for="station">Station:</label>
                  <label id="stationView" class="col-md-5"></label>
                </div>

                <div class="col-md-9">
                  <label class="col-md-4 control-label margin-bottom-1" for="call-sign">Call Sign:</label>
                  <label id="callSignView" class="col-md-5"></label>
                </div>

                <div class="col-md-12 text-align-center">
                  <button id="removeEms" type="submit" name="removeEms" class="btn btn-danger">Delete Persona</button>
                </div>
            </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="viewVeh" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">

          <!-- <form action="/updateOrDeleteEmsVeh" method="POST"> -->
            <fieldset>
              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Details about your Vehicle</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <!-- Text input-->
              <div class="col-md-7">
                <label class="col-md-4 margin-bottom-1" for="first-name">Plate:</label>
                <label class="col-md-5" id="plateView">plate here</label>
                <input id="plateVeh" type="text" value="" style="display:none">
              </div>

              <!-- Text input-->
              <div class="col-md-7">
                <label class="col-md-4 margin-bottom-1" for="last-name">Model:</label>
                <label class="col-md-8" id="modelView">model here</label>
                <input id="modelVeh" type="text" value="" style="display:none">
              </div>

              <!-- Text input-->
              <div class="col-md-7">
                <label class="col-md-4 margin-bottom-1" for="engineNumber">Engine #:</label>
                <label class="col-md-8" id="engineNumView">engine number here</label>
                <input id="engineNumVeh" type="text" value="" style="display:none">
              </div>

              <!-- Text input-->
              <div class="col-md-7">
                <label class="col-md-4 margin-bottom-1" for="color">Color:</label>
                <label class="col-md-5" id="colorView">color here</label>
              </div>

              <!-- Text input-->
              <div class="col-md-7">
                <label class="col-md-4 margin-bottom-1" for="ro">RO:</label>
                <label class="col-md-8" id="roView">ro here</label>
                <input id="roVeh" type="text" value="" style="display:none">
              </div>

              <% if (user.user.activeCommunity !='' && user.user.activeCommunity !=null) {%>
                <!-- Text input-->
                <div class="col-md-7">
                  <label class="col-md-4 margin-bottom-1" for="statusDispatch">Status:</label>
                  <label class="col-md-5" id="statusDispatch">status here</label>
                </div>

                <!-- Text input-->
                <div class="col-md-7">
                  <label class="col-md-4 margin-bottom-1" for="statusDispatchSetBy">Set By:</label>
                  <label class="col-md-8" id="statusDispatchSetBy">status set by here</label>
                </div>
              <% } %>

              <div class="col-md-12">
                <hr style="width: 88%;max-width: 100rem;">
              </div>

              <% if (user.user.activeCommunity !='' && user.user.activeCommunity !=null) {%>
                <div class="col-md-12 text-align-center margin-bottom-1">
                  <button name="action" value="update" class="btn btn-primary margin-bottom-1"
                    title="In Service" onclick="updateStatus('10-8')">10-8</button>
                  <button name="action" value="update" class="btn btn-primary margin-bottom-1" title="Busy"
                    onclick="updateStatus('10-6')">10-6</button>
                  <button name="action" value="update" class="btn btn-primary margin-bottom-1"
                    title="Out of Service" onclick="updateStatus('10-7')">10-7</button>
                  <button name="action" value="update" class="btn btn-primary margin-bottom-1"
                    title="Arrived on Scene" onclick="updateStatus('10-23')">10-23</button>
                  <button name="action" value="update" class="btn btn-primary margin-bottom-1"
                    title="In Route" onclick="updateStatus('10-97')">10-97</button>
                </div>
                <div class="col-md-12 text-align-center margin-bottom-2">
                  <button name="status" value="10-42" class="btn btn-warning btn-md"
                    title="Log out of CAD" onclick="updateStatus('10-42')">10-42</button>
                  <button name="action" value="update" class="btn btn-success btn-md" title="Log in to CAD"
                    onclick="updateStatus('10-41')">10-41</button>
                </div>
              <% } %>
              

              <div class="col-md-12 text-align-center">
                <input id="vehicle-id" type="hidden" name="vehicleID" value="">
                <button onclick="deleteEmsVeh()" type="submit" name="action" value="delete" class="btn btn-danger">Delete Vehicle</button>
              </div>
            </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div id="createReportModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" action="/create-medical-report" method="post">
            <fieldset>

              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
              <h4>Create a New Report</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <h5>Patient Info:</h5>



              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="civilianID">Drivers License #</label>
                <div class="col-md-6">
                  <input id="new-report-civilianID" name="civilianID" type="text"
                    class="form-control input-md disabled-color" required readonly="readonly">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="firstName">First Name</label>
                <div class="col-md-6">
                  <input id="new-report-firstName" name="firstName" type="text"
                    class="form-control input-md disabled-color capitalize" required readonly="readonly">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="lastName">Last Name</label>
                <div class="col-md-6">
                  <input id="new-report-lastName" name="lastName" type="text"
                    class="form-control input-md disabled-color capitalize" required readonly="readonly">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="dateOfBirth">Date of Birth</label>
                <div class="col-md-6">
                  <input id="new-report-dateOfBirth" name="dateOfBirth" type="date" max="2999-12-31" min="1900-01-01"
                    class="form-control input-md disabled-color" required readonly="readonly">
                </div>
              </div>

              <hr style="width: 88%;max-width: 100rem;">

              <h5>Incident Information:</h5>

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="reportDate">Date</label>
                <div class="col-md-6">
                  <input id="new-report-reportDate" name="reportDate" type="date" max="2999-12-31" min="1900-01-01"
                    class="form-control input-md" required>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="reportTime">Time</label>
                <div class="col-md-6">
                  <input id="new-report-reportTime" name="reportTime" type="time" placeholder="hh:mm"
                  class="form-control input-md" required>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="reportingEmsID">Fire/EMS ID</label>
                <div class="col-md-6">
                  <input id="new-report-reportingEmsID" name="reportingEmsID" type="text"
                    class="form-control input-md disabled-color" required readonly="readonly">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="hospitalized">Hospitalized</label>
                <div class="col-md-6">
                  <select id="new-report-hospitalized" name="hospitalized" class="form-control" selected="selected">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="deceased">Deceased</label>
                <div class="col-md-6">
                  <select id="deceased" name="deceased" class="form-control" selected="selected">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group required">
                <label class="col-md-4 control-label" for="details">Details</label>
                <div class="col-md-10 col-md-offset-1">
                  <textarea id="new-report-details" name="details" type="text" maxlength="500"
                    placeholder="incident details" class="form-control input-md" required></textarea>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="submit-new-medical-report"></label>
                <div class="col-md-4 text-center">
                  <input type="hidden" name="userID" value="<%= user._id %>">
                  <input type="hidden" id="new-civ-activeCommunityID" name="activeCommunityID" ,
                    value="<%=user.user.activeCommunity%>">
                  <button id="submit-new-medical-report" class="btn btn-primary">Create</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="joinCommunityModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" action="/joinEmsCommunity" method="post">
            <fieldset>

              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Join an Existing Community</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="communityCode">Community Code:</label>
                <div class="col-md-4">
                  <input id="communityCode" name="communityCode" style="text-transform: uppercase;" type="text"
                    placeholder="Example: YRFGHHP" class="form-control input-md" minlength="7" maxlength="7" required>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="joinCommunity"></label>
                <div class="col-md-4 text-align-center">
                  <input type="hidden" name="route" value="ems-dashboard">
                  <button id="joinCommunity" value="<%= user._id %>" name="userID" class="btn btn-primary">Join</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="leaveActiveCommunityModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" action="/leaveEmsActiveCommunity" method="post">
            <fieldset>

              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Leave Active Community</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <p>NOTE: All personnel and vehicles that were created in this community will no longer
                show up when searching after you leave.
              </p>
              <p>Are you sure you want to leave this community?</p>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="leaveActiveCommunity"></label>
                <div class="col-md-4 text-align-center">
                  <input type="hidden" name="route" value="ems-dashboard">
                  <button id="leaveActiveCommunity" value="<%= user._id %>" name="userID"
                    class="btn btn-danger">Leave</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="createCommunityModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" action="/createEmsCommunity" method="post">
            <fieldset>

              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Create a New Community</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="communityName">Community Name:</label>
                <div class="col-md-4">
                  <input id="communityName" name="communityName" style="text-transform: capitalize;" type="text"
                    placeholder="Community Name" class="form-control input-md" maxlength="25" required>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="createCommunity"></label>
                <div class="col-md-4 text-align-center">
                  <input type="hidden" name="route" value="ems-dashboard">
                  <button id="createCommunity" value="<%= user._id %>" name="userID"
                    class="btn btn-primary">Create</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <% include account-management %>
  <% include notification-modal %>
  <% include 10-codes %>
  <% include notepad %>

  <!--scripts loaded here -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
  <script src="/static/js/wow.js"></script>
  <script src="/static/js/scripts.js"></script>
  <script src="/static/js/main.js"></script>
  <script>if (window.module) module = window.module;</script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>

<script type="text/javascript">
  // all global router vars declared here to reduce duplication
  var dbUser = <%-JSON.stringify(user)%>;
  var dbVehicles = <%-JSON.stringify(vehicles)%>;
  $(function () {
    var socket=io()
    socket.on('updated_ems_status', res => {
      location.reload();
    });
    socket.on('deleted_ems_vehicle', req => {
      location.reload();
    })

    

    socket.on('created_call', res => {
      if (res.call.communityID === dbUser.user.activeCommunity) {
        let containsVeh = false;
        if (dbVehicles != null && dbVehicles != undefined) {
          for (let i=0; i < dbVehicles.length; i++) {
            if (res.call.assignedFireEms.includes(dbVehicles[i]._id)) {
              containsVeh = true;
              break;
            }
          }
        }
        if (containsVeh) {
          $('#assigned-call-container').append(
              `<a id="${res._id}" data-toggle="modal" href="#callDetailModal" onclick="populateCallDetails('${res._id}')">
                <div class="alert alert-success alert-dismissible show" role="alert">
                  Opened: <span id="${res._id}-createdAt" style="text-transform:capitalize">
                    <time>${res.call.createdAtReadable}</time> |  Description: <span id="${res._id}-description">${res.call.shortDescription}</span></span>
              </div>
              </a>`
            ).fadeTo(1, function () {
              $(this).add();
            })
        }
      }
    })

    socket.on('cleared_call', res => {
      if (res.communityID==dbUser.user.activeCommunity) {
        $('#'+res.callID+'-row').remove().fadeOut(5, function () {
          $(this).remove();
        })
      }
    })
  })

  var socket=io();
  var personaReq = {
    userID: dbUser._id,
    activeCommunityID: dbUser.user.activeCommunity
  }
  socket.emit('get_personas', personaReq)
  socket.on('load_personas', (res) => {
    if (res === undefined || res === null) {
      $('#persona-table-div').hide();
      $('#issue-loading-personnel-alert').show();
    } else {
      $('#issue-loading-personnel-alert').hide();
      let datatable = $('#persona-table').DataTable();
      datatable.clear();
      res.forEach(person => {
        personTable = ""
        personTable +=`<tr data-toggle="modal" data-id=${person._id} data-target="#viewEms" onclick="loadEmsData('${person._id}')">
                    <td>${person.ems.firstName} ${person.ems.lastName}</td>
                    <td>${person.ems.department}</td>
                  </tr>`
        
        datatable.row.add($(personTable))

        // appends to the dropdown for vehicle registered owners
        $('#registeredOwner').append(
            `
            <option value="${person.ems.firstName} ${person.ems.lastName}">${person.ems.firstName} ${person.ems.lastName}</option>
            `
        ).fadeTo(1, function () {
              $(this).add();
            })
      });
    datatable.draw();
    $('#persona-loading').hide();
    }
  })

  $.delete=function (url, data, callback, type) {
    if ($.isFunction(data)) {
      type=type||callback,
        callback=data,
        data={}
    }

    return $.ajax({
      url: url,
      type: 'DELETE',
      success: callback,
      data: data,
      contentType: type
    });
  }

  function populateCallDetails(callID) {
    var socket=io();
    socket.emit('get_call_by_id', callID)
    socket.on('load_call_by_id_result', (res) => {
      //debug log
      // console.log(res)
      var createdDate=new Date(res.call.createdAt)
      if (res.call.updatedAt===""||res.call.updatedAt===undefined||res.call.updatedAt==='undefined') {
        $('#updatedAtCallDetail').empty().text("N/A")
      } else {
        var updatedDate=new Date(res.call.updatedAt)
        $('#updatedAtCallDetail').empty().text(updatedDate.toLocaleString())
      }
      $('#createdAtCallDetail').empty().text(createdDate.toLocaleString())
      $('#descriptionCallDetail').empty().text(res.call.shortDescription)
      $('#callNotesDetail').empty().text(res.call.callNotes)
      let selectedClassifiers = ""
      if (res.call.classifier != undefined && res.call.classifier != null) {
        for (let i=0; i<res.call.classifier.length; i++) {
          switch (res.call.classifier[i].toLowerCase()) {
            case "police":
              selectedClassifiers += `<span class="badge badge-primary">${res.call.classifier[i]}</span>  `    
              break;
            case "0":
              selectedClassifiers += `<span class="badge badge-primary">Police</span>  `    
              break;
            case "fire":
              selectedClassifiers += `<span class="badge badge-danger">${res.call.classifier[i]}</span>  `
              break;
            case "1":
              selectedClassifiers += `<span class="badge badge-danger">Fire</span>  `
              break;
            case "ems":
              selectedClassifiers += `<span class="badge badge-success">${res.call.classifier[i]}</span>  `
              break;
            case "2":
              selectedClassifiers += `<span class="badge badge-success">EMS</span>  `
              break;
            default:
              selectedClassifiers += `<span class="badge badge-secondary">${res.call.classifier[i]}</span>  `
              break;
          }
        }
      }
      $('#classifier').empty().html(selectedClassifiers)
      let assignedFireEms = ""
      if (res.call.assignedFireEms != undefined && res.call.assignedFireEms != null) {
        for (let i=0; i<res.call.assignedFireEms.length; i++) {
          if (dbVehicles != null && dbVehicles != undefined) {
            for (let j=0; j<dbVehicles.length; j++) {
              if (dbVehicles[j]._id==res.call.assignedFireEms[i]) {
                assignedFireEms = assignedFireEms + `<li>Engine - ${dbVehicles[i].emsVehicle.engineNumber} (${dbVehicles[i].emsVehicle.model})</li>`
              }
            }
          }
        }
      }
      $('#engines').empty().html(`<ul>${assignedFireEms}</ul>`)
    })
  }

  function loadEmsData(personaID) {
    var socket=io();
    myReq = {
      personaID: personaID
    }
    socket.emit('get_persona_data', myReq);
    socket.on('load_persona_data', (res) => {
      if (res === null || res === undefined) {
        $('#persona-details-loading').hide();
        $('#issue-loading-persona-details-alert').show();
        return
      } else {
        $('#firstNameView').text(res.ems.firstName)
        $('#lastNameView').text(res.ems.lastName)
        $('#departmentView').text(res.ems.department)
        $('#assignmentAreaView').text(res.ems.assignmentArea)
        $('#stationView').text(res.ems.station)
        $('#callSignView').text(res.ems.callSign)
        $('#removeEms').val(personaID)
        $('#issue-loading-persona-details-alert').hide();
        $('#persona-details-loading').hide();
        $('#persona-details-div').show();
      }
    });
  }

  function deleteEmsVeh() {
    var socket=io()
    myReq={
      vehicleID: $('#vehicle-id').val()
    }
    socket.emit('delete_ems_vehicle', myReq)
  }

  function updateStatus(status) {
    var socket=io();
    var onDuty=null
    var updateDuty=false
    if (status=='10-41') {
      onDuty=true
      updateDuty=true
      status="Online"
    } else if (status=='10-42') {
      onDuty=false
      updateDuty=true
      status="Offline"
    }
    myReq={
      vehicleID: $('#vehicle-id').val(),
      status: status,
      setBy: 'Self',
      onDuty: onDuty,
      updateDuty: updateDuty
    }
    socket.emit('update_ems_status', myReq)
  }

  function loadVehData(index) {
    var color=dbVehicles[index].emsVehicle.color
    var plate=dbVehicles[index].emsVehicle.plate.toUpperCase()
    var model=dbVehicles[index].emsVehicle.model
    var engineNumber=dbVehicles[index].emsVehicle.engineNumber
    var registeredOwner=dbVehicles[index].emsVehicle.registeredOwner
    var status=dbVehicles[index].emsVehicle.dispatchStatus
    var statusSetBy=dbVehicles[index].emsVehicle.dispatchStatusSetBy
    // If emsVehicle was created before fire_ems_update
    // This converts the undefined values to blank spaces for UI
    if (statusSetBy==undefined) statusSetBy="";
    if (status==undefined) status="";
    $('#vehicle-id').val(dbVehicles[index]._id)
    $('#plateView').text(plate)
    $('#modelView').text(model)
    $('#engineNumView').text(engineNumber)
    $('#colorView').text(color)
    $('#roView').text(registeredOwner)
    $('#modelVeh').val(model)
    $('#engineNumVeh').val(engineNumber)
    $('#roVeh').val(registeredOwner)
    $('#plateVeh').val(plate)
    $('#statusDispatch').text(status)
    $('#statusDispatchSetBy').text(statusSetBy)
  }

  function createNewEms() {
    $('#first-name').popover('hide')
    $('#last-name').popover('hide')
  }

  function clearTextarea() {
    $('#notepad-textarea').val('')
  }

  function fillAccountDetails() {
    $('#accountEmail').val(dbUser.user.email)
    $('#accountUsername').val(dbUser.user.username)
    $('#accountCallSign').val(dbUser.user.callSign)
  }

  function cancelUsername() {
    $('#accountUsername').val(dbUser.user.username)
    $('#updateUsernameBtns').hide();
  }

  function cancelCallSign() {
    $('#accountCallSign').val(dbUser.user.callSign)
    $('#updateCallSignBtns').hide();
  }

  function setDateAndTime(dateElement, timeElement) {
    $(dateElement)[0].valueAsDate=new Date();
    $(timeElement)[0].value=new Date().toLocaleTimeString('en-GB', {
      hour: "2-digit",
      minute: "2-digit"
    })
  }

  function CreateReport(firstName, lastName, civilianID, dateOfBirth, deceased) {
    $('#new-report-civilianID').val(civilianID);
    $('#new-report-firstName').val(firstName);
    $('#new-report-lastName').val(lastName);
    $('#new-report-dateOfBirth').val(dateOfBirth);
    $('#new-report-reportingEmsID').val(dbUser._id);
    $('#deceased').val(deceased);
  }

  function searchMedicalNames() {
    if (!document.getElementById('civ-first-name').validity.valid) {
      $('#firstNameRequired').show()
      return
    } else {
      $('#firstNameRequired').hide()
    }
    if (!document.getElementById('civ-last-name').validity.valid) {
      $('#lastNameRequired').show()
      return
    } else {
      $('#lastNameRequired').hide()
    }
    if (document.getElementById('civ-dob') != null) {
      if (!document.getElementById('civ-dob').validity.valid) {
        $('#dateOfBirthRequired').show()
        return
      } else {
        $('#dateOfBirthRequired').hide()
      }
    }
    var activeCommunityID
    $("#accordion").empty()
    if (dbUser.user.activeCommunity!=""&&dbUser.user.activeCommunity!=null) {
      activeCommunityID=dbUser.user.activeCommunity
    }
    var parameters={
      firstName: $('#civ-first-name').val(),
      lastName: $('#civ-last-name').val(),
      dateOfBirth: $('#civ-dob').val(),
      activeCommunityID: activeCommunityID
    };
    $.get('/medical-database', parameters, function (data) {
      var i=0
      if (data.civilians != null && data.civilians != undefined) {
        if (data.civilians.length<1) {
          $('#personNotFound').show()
          return
        }
        $('#personNotFound').hide()
        data.civilians.forEach(function (e) {
          var collapsed
          if (i==0) {
            collapsed="in"
          } else {
            collapsed=""
          }
          let deceasedState
          e.civilian.deceased? deceasedState = 'Yes <i class="fas fa-skull-crossbones color-alert-red"></i>': deceasedState = 'No <i class="fas fa-user color-green"></i>'
          var newRowContent
          newRowContent=`
            <!-- List of Civilians -->

                        <div class="panel panel-default background-transparent">
                            <div class="panel-heading" data-toggle="collapse" data-id="`+i+`" data-parent="#accordion" href="#collapse`+i+`"
                              <h4 class="panel-title">
                                <a class="blue-hover capitalize">
                                    `+e.civilian.firstName+` `+e.civilian.lastName+` | `+e._id+`</a>
                              </h4>
                            </div>

                              <div id="collapse`+i+`" class="panel-collapse collapse `+collapsed+`">

                              <div class="panel-body">
                                  <div class="text-align-center">
                                    <button data-toggle="modal" href="#createReportModal" class="btn btn-primary btn-md margin-bottom-05" onclick="CreateReport('`+e.civilian.firstName+`', '`+e.civilian.lastName+`', '`+e._id+`', '`+e.civilian.birthday+`', 'false');setDateAndTime('#new-report-reportDate', '#new-report-reportTime');">Create Report</button>
                                    <button data-toggle="modal" href="#createReportModal" class="btn btn-primary btn-md margin-bottom-05" onclick="CreateReport('`+e.civilian.firstName+`', '`+e.civilian.lastName+`', '`+e._id+`', '`+e.civilian.birthday+`', 'true');setDateAndTime('#new-report-reportDate', '#new-report-reportTime')">Pronounce Dead</button>
                                  </div>
                                  <hr/>
                                  Driver's ID #: ${e._id}<br/>
                                  Date of Birth: ${e.civilian.birthday}<br/>
                                  Address: ${e.civilian.address}<br/>
                                  Occupation: ${e.civilian.occupation}<br/>
                                  Deceased: ${deceasedState}<br/>
                                  <hr style="width: 88%;max-width: 100rem;">
                                  <h4>Medical History</h4>
                                  <ul class="nav nav-pills mb-3 margin-bottom-1" id="pills-tab" role="tablist">
                                    <li class="nav-item active">
                                      <a class="nav-link active" id="pills-reports-tab-`+e._id+`" data-toggle="pill" href="#pills-reports-`+e._id+`" role="tab" aria-controls="pills-reports-`+e._id+`" aria-selected="true">Reports</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="pills-medications-tab-`+e._id+`" data-toggle="pill" href="#pills-medications-`+e._id+`" role="tab" aria-controls="pills-medications-`+e._id+`" aria-selected="false">Medications</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="pills-conditions-tab-`+e._id+`" data-toggle="pill" href="#pills-conditions-`+e._id+`" role="tab" aria-controls="pills-conditions-`+e._id+`" aria-selected="false">Pre-Existing Conditions</a>
                                    </li>
                                  </ul>
                                  <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade active in" id="pills-reports-`+e._id+`" role="tabpanel" aria-labelledby="pills-reports-tab-`+e._id+`">
                                      <table id="reports-table-`+e._id+`" class="table" border="1" frame="box">
                                        <thead>
                                          <tr style="background-color: #2d2d2d;"><td>Date<br><i><small>YYYY-M-D</small></i></td><td>Hospitalized<br><i><small>Y/N</small></i></td><td>Summary</td><td>Delete</td></tr>
                                          </thead>
                                          <tbody>
                                            <!-- List of Reports -->
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="pills-medications-`+e._id+`" role="tabpanel" aria-labelledby="pills-medications-tab-`+e._id+`">
                                      <table id="medications-table-`+e._id+`" class="table" border="1" frame="box">
                                        <thead>
                                          <tr style="background-color: #2d2d2d;"><td>Start Date<br><i><small>YYYY-M-D</small></i></td><td>Name</td><td>Dosage</td><td>Frequency</td><td>Delete</td></tr>
                                        </thead>
                                        <tbody>
                                          <!-- List of Medications -->
                                          </tbody>
                                      </table>
                                    </div>
                                    <div class="tab-pane fade" id="pills-conditions-`+e._id+`" role="tabpanel" aria-labelledby="pills-conditions-tab-`+e._id+`">
                                      <table id="conditions-table-`+e._id+`" class="table" border="1" frame="box">
                                        <thead>
                                          <tr style="background-color: #2d2d2d;"><td>Date Occurred<br><i><small>YYYY-M-D</small></i></td><td>Name</td><td>Details</td><td>Delete</td></tr>
                                        </thead>
                                        <tbody>
                                          <!-- List of Pre-Existing Conditions -->
                                          </tbody>
                                      </table>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
            `
          $("#accordion").append(newRowContent)
          i++
        });
        //loop through all reports, medications and conditions for this civ
        data.civilians.forEach(function (e) {
          data.reports.forEach(function (r) {
            if (e._id==r.report.civilianID) {
              var newReportContent
              newReportContent=`
              <tr id="`+r._id+`"><td>`+r.report.date+`</td><td style='text-transform: capitalize;'>`+r.report.hospitalized+`</td><td style='text-transform: capitalize;'>`+r.report.details+`</td><td class="text-align-center"><a class='clickable' onclick="deleteReport('`+r._id+`', '`+r.report.civilianID+`')"><i class="glyphicon glyphicon-remove-circle color-alert-red"></i></a></td></tr>
              `
              $("#reports-table-"+r.report.civilianID+" tbody").append(newReportContent)
            }
          });
          if (data.medications != null && data.medications != undefined) {
            data.medications.forEach(function (m) {
              if (e._id==m.medication.civilianID) {
                var newReportContent
                newReportContent=`
                <tr id="`+m._id+`"><td>`+m.medication.startDate+`</td><td style='text-transform: capitalize;'>`+m.medication.name+`</td><td>`+m.medication.dosage+`</td><td style='text-transform: capitalize;'>`+m.medication.frequency+`</td><td class="text-align-center"><a class='clickable' onclick="deleteMedication('`+m._id+`', '`+m.medication.civilianID+`')"><i class="glyphicon glyphicon-remove-circle color-alert-red"></i></a></td></tr>
                `
                $("#medications-table-"+m.medication.civilianID+" tbody").append(newReportContent)
              }
            });
          }

          if (data.conditions != null && data.conditions != undefined) {
            data.conditions.forEach(function (c) {
              if (e._id==c.condition.civilianID) {
                var newReportContent
                newReportContent=`
                <tr id="`+c._id+`"><td>`+c.condition.dateOccurred+`</td><td style='text-transform: capitalize;'>`+c.condition.name+`</td><td style='text-transform: capitalize;'>`+c.condition.details+`</td><td class="text-align-center"><a class='clickable' onclick="deleteCondition('`+c._id+`', '`+c.condition.civilianID+`')"><i class="glyphicon glyphicon-remove-circle color-alert-red"></i></a></td></tr>
                `
                $("#conditions-table-"+c.condition.civilianID+" tbody").append(newReportContent)
              }
            });
          }

        });
      }
    });
  }

  function deleteReport(id, civilianID) {
    var parameters={ reportID: id };
    $.delete('/reports/'+id, parameters, function (data) {
      $(`table#reports-table-`+civilianID+` tr#`+id).remove()
    })
  }

  function deleteMedication(id, civilianID) {
    var parameters={ medicationID: id };
    $.delete('/medications/'+id, parameters, function (data) {
      $(`table#medications-table-`+civilianID+` tr#`+id).remove()
    })
  }


  function deleteCondition(id, civilianID) {
    var parameters={ conditionID: id };
    $.delete('/conditions/'+id, parameters, function (data) {
      $(`table#conditions-table-`+civilianID+` tr#`+id).remove()
    })
  }

  $("#civ-first-name").keydown(function (event) {
    if (event.keyCode==32) {
      event.preventDefault();
      $('#civ-first-name').popover('show')
    } else {
      $('#civ-first-name').popover('hide')
    }
  });

  $("#civ-last-name").keydown(function (event) {
    if (event.keyCode==32) {
      event.preventDefault();
      $('#civ-last-name').popover('show')
    } else {
      $('#civ-last-name').popover('hide')
    }
  });

  function togglePanicBtnSound() {
    var socket=io();
    socket.emit('update_panic_btn_sound', dbUser)
    socket.on('load_panic_btn_result', (res) => {
      $('#panic-button-check-sound').prop("checked", !res.user.panicButtonSound)
      $('#successfully-updated-alert').removeClass('hide').addClass('show').delay(2000).fadeOut(1000, function () {
        $(this).addClass('hide').removeClass('show');
      });
    })
  }

  function adjustAlertVolumeSlider() {
    var socket=io();
    var volumeAmount = $('#alert-volume-slider').val()
    var myObj = {
      dbUser: dbUser,
      volume: volumeAmount
    }
    socket.emit('update_alert_volume_slider', myObj)
    socket.on('load_alert_volume_result', (res) => {
      $('#successfully-updated-alert').removeClass('hide').addClass('show').delay(2000).fadeOut(1000, function () {
        $(this).addClass('hide').removeClass('show');
      });
    })
  }

  function markAsRead() {
    document.cookie ="notification-symbol=v2.39.0";
    $('#notification-symbol').removeClass('notif');
    $('#notification-count').text('');
  }

  $(document).ready(function () {

    $('#persona-table').DataTable({
      "bLengthChange": false,
    })
    $('#vehicle-table').DataTable({
      "bLengthChange": false,
    })

    // displays the Update Username and Cancel buttons for updating the username
    $('#accountUsername').on('keyup', function (e) {
      if (e.target.value!=dbUser.user.username&&e.target.value!='') {
        $('#updateUsernameBtns').show();
      } else {
        $('#updateUsernameBtns').hide();
      }
    })

    $('#accountCallSign').on('keyup', function (e) {
      if (e.target.value!=dbUser.user.callSign&&e.target.value!='') {
        $('#updateCallSignBtns').show();
      } else {
        $('#updateCallSignBtns').hide();
      }
    })

    $('#panic-button-check-sound').prop("checked", dbUser.user.panicButtonSound)
    $('#alert-volume-slider').val(dbUser.user.alertVolumeLevel || 10)

    $("#first-name").keydown(function (event) {
      if (event.keyCode==32) {
        event.preventDefault();
        $('#first-name').popover('show')
      } else {
        $('#first-name').popover('hide')
      }
    });
    $("#last-name").keydown(function (event) {
      if (event.keyCode==32) {
        event.preventDefault();
        $('#last-name').popover('show')
      } else {
        $('#last-name').popover('hide')
      }
    });

    //CURRENT_VERSION
    //the current version in production
    let CURRENT_VERSION = "v2.39.0"
    let MINOR_VERSION = CURRENT_VERSION.split(".")[1]

    //check for notification cookie
    let cookieVersion = undefined
    let cookieValueSplit = document.cookie.split('; ')
    if (cookieValueSplit != null && cookieValueSplit != undefined) {
      if (cookieValueSplit.length > 0) {
        let cookieValueNotifSymbol = cookieValueSplit.find(row => row.startsWith('notification-symbol='))
        if (cookieValueNotifSymbol != undefined) {
          let cookieVersionSplit = cookieValueNotifSymbol.split('=');
          if (cookieVersionSplit != null && cookieVersionSplit != undefined) {
            if (cookieVersionSplit.length > 1) {
              cookieVersion = cookieVersionSplit[1];
            }
          }
        }
      }
    }

    // if we cannot find the cookie, then we will set it to be 1
    if (cookieVersion === undefined) {
      $('#notification-count').text(1)
    } else if (cookieVersion == CURRENT_VERSION) {
      // else if cookie version is equal to current version, then we don't set anything :mark-all-as-read:
      $('#notification-symbol').removeClass('notif')
      $('#notification-count').text('')
    } else {
      // else if we can find the cookie, then we will subtract whatever the cookie value is from the current version
      let specificVersionSplit = cookieVersion.split(".")
      if (specificVersionSplit != null && specificVersionSplit != undefined) {
        if (specificVersionSplit.length == 3) {
          let versionDifference = parseInt(MINOR_VERSION) - parseInt(specificVersionSplit[1])
          $('#notification-count').text(versionDifference)
        }
      }
    }

    //load gravatar image
  var MD5 = function(d){var r = M(V(Y(X(d),8*d.length)));return r.toLowerCase()};function M(d){for(var _,m="0123456789ABCDEF",f="",r=0;r<d.length;r++)_=d.charCodeAt(r),f+=m.charAt(_>>>4&15)+m.charAt(15&_);return f}function X(d){for(var _=Array(d.length>>2),m=0;m<_.length;m++)_[m]=0;for(m=0;m<8*d.length;m+=8)_[m>>5]|=(255&d.charCodeAt(m/8))<<m%32;return _}function V(d){for(var _="",m=0;m<32*d.length;m+=8)_+=String.fromCharCode(d[m>>5]>>>m%32&255);return _}function Y(d,_){d[_>>5]|=128<<_%32,d[14+(_+64>>>9<<4)]=_;for(var m=1732584193,f=-271733879,r=-1732584194,i=271733878,n=0;n<d.length;n+=16){var h=m,t=f,g=r,e=i;f=md5_ii(f=md5_ii(f=md5_ii(f=md5_ii(f=md5_hh(f=md5_hh(f=md5_hh(f=md5_hh(f=md5_gg(f=md5_gg(f=md5_gg(f=md5_gg(f=md5_ff(f=md5_ff(f=md5_ff(f=md5_ff(f,r=md5_ff(r,i=md5_ff(i,m=md5_ff(m,f,r,i,d[n+0],7,-680876936),f,r,d[n+1],12,-389564586),m,f,d[n+2],17,606105819),i,m,d[n+3],22,-1044525330),r=md5_ff(r,i=md5_ff(i,m=md5_ff(m,f,r,i,d[n+4],7,-176418897),f,r,d[n+5],12,1200080426),m,f,d[n+6],17,-1473231341),i,m,d[n+7],22,-45705983),r=md5_ff(r,i=md5_ff(i,m=md5_ff(m,f,r,i,d[n+8],7,1770035416),f,r,d[n+9],12,-1958414417),m,f,d[n+10],17,-42063),i,m,d[n+11],22,-1990404162),r=md5_ff(r,i=md5_ff(i,m=md5_ff(m,f,r,i,d[n+12],7,1804603682),f,r,d[n+13],12,-40341101),m,f,d[n+14],17,-1502002290),i,m,d[n+15],22,1236535329),r=md5_gg(r,i=md5_gg(i,m=md5_gg(m,f,r,i,d[n+1],5,-165796510),f,r,d[n+6],9,-1069501632),m,f,d[n+11],14,643717713),i,m,d[n+0],20,-373897302),r=md5_gg(r,i=md5_gg(i,m=md5_gg(m,f,r,i,d[n+5],5,-701558691),f,r,d[n+10],9,38016083),m,f,d[n+15],14,-660478335),i,m,d[n+4],20,-405537848),r=md5_gg(r,i=md5_gg(i,m=md5_gg(m,f,r,i,d[n+9],5,568446438),f,r,d[n+14],9,-1019803690),m,f,d[n+3],14,-187363961),i,m,d[n+8],20,1163531501),r=md5_gg(r,i=md5_gg(i,m=md5_gg(m,f,r,i,d[n+13],5,-1444681467),f,r,d[n+2],9,-51403784),m,f,d[n+7],14,1735328473),i,m,d[n+12],20,-1926607734),r=md5_hh(r,i=md5_hh(i,m=md5_hh(m,f,r,i,d[n+5],4,-378558),f,r,d[n+8],11,-2022574463),m,f,d[n+11],16,1839030562),i,m,d[n+14],23,-35309556),r=md5_hh(r,i=md5_hh(i,m=md5_hh(m,f,r,i,d[n+1],4,-1530992060),f,r,d[n+4],11,1272893353),m,f,d[n+7],16,-155497632),i,m,d[n+10],23,-1094730640),r=md5_hh(r,i=md5_hh(i,m=md5_hh(m,f,r,i,d[n+13],4,681279174),f,r,d[n+0],11,-358537222),m,f,d[n+3],16,-722521979),i,m,d[n+6],23,76029189),r=md5_hh(r,i=md5_hh(i,m=md5_hh(m,f,r,i,d[n+9],4,-640364487),f,r,d[n+12],11,-421815835),m,f,d[n+15],16,530742520),i,m,d[n+2],23,-995338651),r=md5_ii(r,i=md5_ii(i,m=md5_ii(m,f,r,i,d[n+0],6,-198630844),f,r,d[n+7],10,1126891415),m,f,d[n+14],15,-1416354905),i,m,d[n+5],21,-57434055),r=md5_ii(r,i=md5_ii(i,m=md5_ii(m,f,r,i,d[n+12],6,1700485571),f,r,d[n+3],10,-1894986606),m,f,d[n+10],15,-1051523),i,m,d[n+1],21,-2054922799),r=md5_ii(r,i=md5_ii(i,m=md5_ii(m,f,r,i,d[n+8],6,1873313359),f,r,d[n+15],10,-30611744),m,f,d[n+6],15,-1560198380),i,m,d[n+13],21,1309151649),r=md5_ii(r,i=md5_ii(i,m=md5_ii(m,f,r,i,d[n+4],6,-145523070),f,r,d[n+11],10,-1120210379),m,f,d[n+2],15,718787259),i,m,d[n+9],21,-343485551),m=safe_add(m,h),f=safe_add(f,t),r=safe_add(r,g),i=safe_add(i,e)}return Array(m,f,r,i)}function md5_cmn(d,_,m,f,r,i){return safe_add(bit_rol(safe_add(safe_add(_,d),safe_add(f,i)),r),m)}function md5_ff(d,_,m,f,r,i,n){return md5_cmn(_&m|~_&f,d,_,r,i,n)}function md5_gg(d,_,m,f,r,i,n){return md5_cmn(_&f|m&~f,d,_,r,i,n)}function md5_hh(d,_,m,f,r,i,n){return md5_cmn(_^m^f,d,_,r,i,n)}function md5_ii(d,_,m,f,r,i,n){return md5_cmn(m^(_|~f),d,_,r,i,n)}function safe_add(d,_){var m=(65535&d)+(65535&_);return(d>>16)+(_>>16)+(m>>16)<<16|65535&m}function bit_rol(d,_){return d<<_|d>>>32-_}
  let hash = MD5(dbUser.user.email.trim().toLowerCase())
  $('.profile-picture').css("background-image", `url(https://www.gravatar.com/avatar/${hash}?s=200)`)

  }); /* End of document.ready */
</script>

<!--  added for google translate -->
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
