<div id="firearmDatabaseModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

      <div id="firearmNotFound" class="alert alert-warning" style="display:none">
        <strong>Not Found!</strong> Firearm not found in police database.
      </div>
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" name="findFirearm" action="/firearm-search" method="get">
            <fieldset>

              <!-- Form Name -->
              <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
                aria-hidden="true">X</button>
              <h4>Firearm Database</h4>
              <hr style="width: 88%;max-width: 100rem;">

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4" for="serialNumber">Serial Number</label>
                <div class="col-md-4 margin-bottom-1">
                  <input id="serialNumber" name="serialNumber" type="text" maxlength="8" placeholder="Serial #"
                    class="form-control input-md" list="firearms" style="text-transform: uppercase;" required>
                </div>
                <div class="col-md-4">
                  <input type="hidden" id="active-community-id" name="activeCommunityID" ,
                    value="<%=user.user.activeCommunity%>">
                  <button type="submit" onclick="searchFirearm()" class="btn btn-info">Search</button>
                </div>
              </div>

              <!-- List of Plates -->
              <div id="firearmDetails" style="display:none">
                <div class="panel-group" id="accordion">
                  <% if (firearms !=null && firearms != undefined) {%>
                    <% for(var i=0; i<firearms.length; i++) {%>
                      <div class="panel panel-default background-transparent">
                        <div class="panel-heading" data-toggle="collapse" data-id=<%=i%> data-parent="#accordion"
                          href="#collapse<%=i%>" <h4 class="panel-title">
                              <a class="blue-hover capitalize">
                                <%= firearms[i].firearm.serialNumber%> | <%= firearms[i].firearm.registeredOwner%>
                              </a>
                            </h4>
                        </div>
                        <% if (i===0) {%>
                          <div id="collapse<%=i%>" class="panel-collapse collapse in">
                            <% } else {%>
                              <div id="collapse<%=i%>" class="panel-collapse collapse">
                                <% } %>
                                  <div class="panel-body">
                                    <% if (firearms[i].firearm.isStolen=='true' ) {%>
                                      <div id="stolenMessage" class="alert alert-danger" style="display:block">
                                        <strong>Danger!</strong> Firearm reported as stolen.
                                      </div>
                                      <% } %>
                                        Serial #: <%= firearms[i].firearm.serialNumber%><br />
                                          Registered Owner: <%= firearms[i].firearm.registeredOwner%><br />
                                            <span style="text-transform: capitalize;">Type:
                                              <%= firearms[i].firearm.weaponType%>
                                            </span><br />
                                  </div>
                              </div>
                          </div>
                          <% } %>
                            <% } %>
                      </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>